.Toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #1D1D1F;
  z-index: 90;
  height: 50px;
  margin-bottom: 0;
}



.Toolbar nav {
  height: 100%;
}

.header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__nav{
  display: flex;
  justify-content: space-around;
}


.header__logo a{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: left;
  text-decoration: none;
}







